{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    Home
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}


    <nav id="nav-foto" class="navbar py-lg-4 undercontainer">
        <div class="container">
            <h1 class="h1 text-white"> Mis Cursos</h1>
            <img src="/static/media/logo.png" class="navbar-brand justify-end" />
        </div>

    </nav>

    <div class="container mt-3">
        <div class="row">
        {% if user.is_superuser %}
            <div class="col-12 col-md-6 col-lg-4">
                    <a href="curso/nuevo/" style="font-style: none;" class="card curso-card mt-3 mb-3 ">
                        <div class="card-header curso-card-header text-white">
                            Añadir Curso
                        </div>
                        <div class="card-body text-center">
                            <figure>
                                <i class="fa fa-book" style="font-size: 100px;color:#38869a;" aria-hidden="true"></i>
                                <figcaption class="text-center mt-3">Añadir Curso</figcaption>
                            </figure>
                        </div>
                    </a>
            </div>
            {% if cursos %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="curso/modulo/nuevo/" style="font-style: none;" class="card curso-card mt-3 mb-3 ">
                        <div class="card-header curso-card-header text-white">
                            Añadir Módulo
                        </div>
                        <div class="card-body text-center">
                            <figure>
                                <i class="fas fa-book-open" style="font-size: 100px;color:#38869a;" aria-hidden="true"></i>
                                <figcaption class="text-center mt-3">Añadir Módulo</figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endif %}
            {% for curso in cursos %}
                <div class="col-12 col-md-6 col-lg-4">
                    <a href="/curso/{{ curso.nombre_link }}/{{ curso.id }}" style="font-style: none;" class="card curso-card mt-3 mb-3 ">
                        <div class="card-header curso-card-header text-white">
                            Curso de {{ curso.nombre }}
                        </div>
                        <div class="card-body text-center">
                            <figure>
                                <img src = '/media/{{ curso.icono }}' width="150px"/>
                                <br/>
                                <figcaption class="text-center mt-3">Curso de {{ curso.nombre }}</figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-5">
        <footer class="mt-5 fixed-bottom bg-white">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <small>Curso OnLine © 2019</small>
                    </div>
                </div>

            </div>
        </footer>
    </div>
{% endblock %}

    <!-- <a href="https://farm9.staticflickr.com/8642/16455005578_0fdfc6c3da_b.jpg" data-lity
        data-lity-desc="Photo of a flower">Image</a>
    <a href="#inline" data-lity>Inline</a>
    <a href="//www.youtube.com/watch?v=Mnx58McOgDk" data-lity>iFrame Youtube</a>
    <a href="//vimeo.com/1084537" data-lity>iFrame Vimeo</a>
    <a href="//maps.google.com/maps?q=1600+Amphitheatre+Parkway,+Mountain+View,+CA" data-lity>Google Maps</a>

    <div id="inline" style="background:#fff" class="lity-hide">
        Inline content
    </div>-->
{% block script %}

{% endblock %}
