body {
    background-color: '#a1ffff';
    background-image: url('/static/media/fondo_naval.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html{
    height: 100%;
}
@media (max-width: 991.98px) {
    #btn-login {
	background-color: #38869a;
    }
}