body {
    background-color: '#a1ffff';
    background-image: url('/static/media/fondo_naval.jpg');
    background-position: center center;
}
@media (max-width: 991.98px) {
    #btn-login {
	background-color: #38869a;
    }
}