{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    {{ submodulo.modulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">{{ submodulo.modulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}</h1>
        </div>
    </nav>
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ curso_link }}">Índice del curso de {{ submodulo.modulo.curso.nombre }}</a></li>
              <li class="breadcrumb-item"><a href="/curso/modulo/abrir/id/{{ submodulo.modulo.id }}/">Índice del módulo {{ submodulo.modulo.titulo }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contenido de {{ submodulo.titulo }}</li>
          </ol>
        </nav>
        <div class="row">
            <div class="col text-break text-justify mb-5">
                {{ submodulo.contenido | safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}