{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    Indice del curso
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white"> Curso de {{ curso.nombre }}</h1>

        </div>

    </nav>
    <div class="container mt-3">
    <div class="row">
    <ul class="offset-xl-4 col-xl-8 col-lg-8 offset-lg-4 col-md-12 text-break">
    {% for modulo in modulos %}

        <li>
            <p>{{ modulo.numero }} {{ modulo.titulo }}</p>
            <ul>
                {% for antemodulo in modulo.antemodulos %}
                    <li>
                            <p>{{ modulo.numero }}.{{ antemodulo.numero }} {{ antemodulo.titulo }}</p>
                        <ul>
                            {% for submodulo in antemodulo.submodulos %}
                                <li>

                                        <p>{{ modulo.numero }}.{{ antemodulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>

    {% endfor %}
     </ul>
</div>
    </div>


{% endblock %}

{% block script %}

{% endblock %}