{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    Indice del curso de {{ curso.nombre }}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white"> Curso de {{ curso.nombre }}</h1>

        </div>

    </nav>
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Índice del curso de {{ curso.nombre }}</li>
          </ol>
        </nav>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-8 offset-lg-2 col-md-12 text-break text-justify">
                <div class="card mb-5">
                    <div class="card-header curso-card-header text-white text-center">
                        <h5 class="h5">
                            Índice
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul>
                        {% for modulo in modulos %}
                            <li>
                                <p><a href="/curso/modulo/abrir/id/{{ modulo.id }}/">Módulo {{ modulo.numero }}: {{ modulo.titulo }}</a></p>
                                <ul>
                                    {% for submodulo in modulo.submodulos %}
                                        <li>
                                            <p><a href="/curso/submodulo/abrir/id/{{ submodulo.id }}/">{{ modulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}</a></p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

{% endblock %}