{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    {{ modulo.numero }} {{ modulo.titulo }}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">{{ modulo.numero }} {{ modulo.titulo }}</h1>
        </div>
    </nav>
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ curso_link }}">Índice del curso de {{ modulo.curso.nombre }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Índice del módulo {{ modulo.titulo }} {{ modulo_completado|safe }}  {{ modulo_calificacion|safe }}</li>
          </ol>
        </nav>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-8 offset-lg-2 col-md-12 text-break text-justify">
                <div class="card mb-5">
                    <div class="card-header curso-card-header text-white text-center">
                        <h5 class="h5">
                            Índice
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for submodulo in submodulos %}
                                <li>
                                    <p><a href="/curso/submodulo/abrir/id/{{ submodulo.id }}/">{{ modulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}</a>{{ submodulo.completado | safe }}</p>
                                </li>
                            {% endfor %}
                            {% if '/evaluacion/evaluar/' in eval_modulo %}
                                <li>
                                    <p><a href="{{ eval_modulo }}">Realizar la evaluacion del módulo {{ modulo.numero }}</a></p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}