{% extends 'base-public.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block title %}
    Cursos Asignados
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">
                Enunciados para el submódulo
            </h1>
        </div>
    </nav>
    <br><br>
    <div class="container-fluid">
    <ol>
        {% for enun in enunciado_evaluacion %}
            <strong>
                <li>
                    <p class="text-break text-justify">
                        {{ enun.enunciado }}
                    </p>
                    {% if 'fotos_enunciado' in enun.foto %}
                        <img width="50%" src="/media/{{ enun.foto }}" class="img-fluid"/>
                    {% endif %}
                </li>
            </strong>
            <ol type="a">
            {% for opcion in enun.opciones_enunciado %}
                <li>
                {% if enun.tipo_respuesta == 0 %}
                    <div style="cursor: pointer;" class="custom-control custom-radio my-1 mr-sm-2 text-break text-justify">
                        <input name="respuesta_opcion_{{ enun.id }}" value="{{ opcion.id }}" style="cursor: pointer;" id="respuesta_opcion_{{ opcion.fr }}" type="radio" class="custom-control-input" {% if opcion.respuesta %}checked{% endif %} />
                        <label style="cursor: pointer;" class="custom-control-label" for="respuesta_opcion_{{ opcion.fr }}">{{ opcion.opcion }}</label>
                    </div>
                {% endif %}
                {% if enun.tipo_respuesta == 1 %}
                    <div style="cursor: pointer;" class="custom-control custom-checkbox my-1">
                        <input name="lista_enunciado[{{ opcion.fr }}]" value="{{ opcion.id }}" style="cursor: pointer;" type="checkbox" class="custom-control-input" id="lista_enunciado{{ opcion.fr }}" {% if opcion.respuesta %}checked{% endif %} />
                        <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ opcion.fr }}">{{ opcion.opcion }}</label>
                    </div>
                {% endif %}
                {% if enun.tipo_respuesta == 2 %}
                    <div style="cursor: pointer;" class="custom-control custom-radio my-1 mr-sm-2">
                        <input name="lista_enunciado" value="{{ opcion.id }}" style="cursor: pointer;" type="radio" class="custom-control-input" id="lista_enunciado{{ opcion.fr }}" {% if opcion.respuesta %}checked{% endif %} />
                        <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ opcion.fr }}">
                            <img class="img-fluid" src="{{ opcion.opcion_img }}" width="300px">
                        </label>
                    </div>
                {% endif %}
                {% if enun.tipo_respuesta == 3 %}
                    <div style="cursor: pointer;" class="custom-control custom-checkbox my-1">
                        <input name="lista_enunciado[{{ opcion.fr }}]" value="{{ opcion.id }}" style="cursor: pointer;" type="checkbox" class="custom-control-input" id="lista_enunciado{{ opcion.fr }}" {% if opcion.respuesta %}checked{% endif %} />
                        <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ opcion.fr }}">
                            <img class="img-fluid" src="{{ opcion.opcion_img }}" width="300px">
                        </label>
                    </div>
                {% endif %}
                </li>
            {% endfor %}
            </ol>
        {% endfor %}
    </ol>
    </div>
    <br>

{% endblock %}
{% block script %}

{% endblock %}