{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">
                {{ title }}
            </h1>
        </div>
    </nav>
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
          </ol>
        </nav>
    </div>
    <div class="container mt-3 mb-5">
        <div class="card">
            <div class="card-header curso-card-header text-white text-center">
                <h5 class="h5">
                    {{ title }}
                </h5>
            </div>
            <div class="card-body">
                {% if error %}
                    <div id="no-valido" class="alert alert-danger" role="alert">
                        <button style="padding: 0px;" type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <i class="fas fa-times justify-end"></i>
                        </button>
                        <span id="alert-contenido">
                            {{ error }}
                        </span>
                    </div>
                {% endif %}
                {% if exito %}
                    <div id="no-valido" class="alert alert-success" role="alert">
                        <button style="padding: 0px;" type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <i class="fas fa-times justify-end"></i>
                        </button>
                        <span id="alert-contenido">
                            {{ exito | safe }}
                        </span>
                    </div>
                {% endif %}
                <form id="frm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col">
                            <button id="guardar" type="submit" class="btn btn-success btn-md px-5">Guardar</button>
                            <a href="/" class="btn btn-danger btn-md px-5">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}