{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    {{ title }}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">
                {{ title }}
            </h1>
        </div>
    </nav>
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
          </ol>
        </nav>
    </div>
    <div class="container-fluid mt-3 mb-5">
        <div class="card">
            <div class="card-header curso-card-header text-white text-center">
                <h5 class="h5">
                    {{ title }}
                </h5>
            </div>
            <div class="card-body">
                {% if error %}
                    <div id="no-valido" class="alert alert-danger" role="alert">
                        <button style="padding: 0px;" type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <i class="fas fa-times justify-end"></i>
                        </button>
                        <span id="alert-contenido">
                            {{ error }}
                        </span>
                    </div>
                {% endif %}
                {% if exito %}
                    <div id="no-valido" class="alert alert-success" role="alert">
                        <button style="padding: 0px;" type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <i class="fas fa-times justify-end"></i>
                        </button>
                        <span id="alert-contenido">
                            {{ exito | safe }}
                        </span>
                    </div>
                {% endif %}
                <form id="frm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if not editar %}
                    <fieldset class="border-top p-2 pb-4">
                        <legend  class="w-auto text-muted">Datos de la cuenta</legend>
                        {{ form_user.non_field_errors }}
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_user.first_name.errors }}</small>
                                {{ form_user.first_name.label_tag }}
                                {{ form_user.first_name }}
                                <small class="form-text text-info">{{ form_user.first_name.help_text }}</small>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_user.last_name.errors }}</small>
                                {{ form_user.last_name.label_tag }}
                                {{ form_user.last_name }}
                                <small class="form-text text-info">{{ form_user.last_name.help_text }}</small>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_user.email.errors }}</small>
                                {{ form_user.email.label_tag }}
                                {{ form_user.email }}
                                <small class="form-text text-info">{{ form_user.email.help_text }}</small>
                            </div>
                        </div>
                        <div class="row  mt-3">
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_user.username.errors }}</small>
                                {{ form_user.username.label_tag }}
                                {{ form_user.username }}
                                <small class="form-text text-info">{{ form_user.username.help_text|safe }}</small>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_user.password.errors }}</small>
                                {{ form_user.password.label_tag }}
                                {{ form_user.password }}
                                <small class="form-text text-info">La contraseña no puede asemejarse tanto a la otra información personal,
debe contener al menos 8 caracteres,
no puede ser una clave utilizada comunmente,
no puede ser completamente numérica.</small>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label class="text-muted" for="id_password2">
                                    Confirmar Contraseña:
                                </label>
                                <input type="password" value="" required name="password2" id="id_password2" class="form-control" />
                                <small id="confirmar_pass" class="form-text text-info">Para verificar, introduzca la misma contraseña anterior.</small>
                            </div>
                        </div>
                    </fieldset>
                    {% else %}
                        <input type="hidden" name="estudiante_id" value="{{ form_estudiante.instance.id }}" />
                    {% endif %}
                    <fieldset class="border-top p-2 pb-4">
                        <legend  class="w-auto text-muted">Datos del Estudiante</legend>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_estudiante.fecha_nacimiento.errors }}</small>
                                {{ form_estudiante.fecha_nacimiento.label_tag }}
                                {{ form_estudiante.fecha_nacimiento }}
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_estudiante.celular.errors }}</small>
                                {{ form_estudiante.celular.label_tag }}
                                {{ form_estudiante.celular }}
                                <small class="form-text text-info">{{ form_estudiante.celular.help_text }}</small>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <small class="form-text text-danger">{{ form_estudiante.cedula.errors }}</small>
                                {{ form_estudiante.cedula.label_tag }}
                                {{ form_estudiante.cedula }}
                                <small class="form-text text-info">{{ form_estudiante.cedula.help_text }}</small>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col">
                            <button id="guardar" type="submit" class="btn btn-success btn-md px-5">Guardar</button>
                            <a href="/" class="btn btn-danger btn-md px-5">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if editar %}
        <script>
        var editar = '{{ editar }}';var __id12458ase2 = '{{ form_estudiante.fecha_nacimiento }}';
        </script>
    {% endif %}
    <script src="/static/js/form_estudiante.js"></script>
{% endblock %}