{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    Enunciados para el submódulo {{ submodulo.modulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">
                Enunciados para el submódulo {{ submodulo.modulo.numero }}.{{ submodulo.numero }} {{ submodulo.titulo }}
            </h1>
        </div>
    </nav>
    <div class="container mt-3 mb-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              {% if agregar_enunciado %}
                  <li class="breadcrumb-item"><a href="/evaluacion/listar/submodulo/{{ submodulo.modulo.id }}/">Submódulos Registrados</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Registrar Enunciado</li>
              {% else %}
                  <li class="breadcrumb-item"><a href="/evaluacion/registros/enunciado/{{ enunciado_evaluacion.submodulo.id }}/">Enunciados Registrados</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Editar Enunciado</li>
              {% endif %}
          </ol>
        </nav>
        <div class="row">
            <div class="col-xl-6">
                {% if error %}
                    <div id="no-valido" class="alert alert-danger" role="alert">
                        <button style="padding: 0px;" type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <i class="fas fa-times justify-end"></i>
                        </button>
                        <span id="alert-contenido">
                            {{ error }}
                        </span>
                    </div>
                {% endif %}
                {% if exito %}
                    <div id="no-valido" class="alert alert-success" role="alert">
                        <button style="padding: 0px;" type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <i class="fas fa-times justify-end"></i>
                        </button>
                        <span id="alert-contenido">
                            {{ exito | safe }}
                        </span>
                    </div>
                {% endif %}
                <form id="frm" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_enunciado_evaluacion.as_p }}
                    <select style="display:none;" required name="lista_de_enunciados" id="id_lista_de_enunciados" multiple="multiple">
                        {% for oe in opciones_enunciado %}
                            {% if oe.respuesta %}
                                <option value="{{ oe.opcion }}|true" selected>{{ oe.opcion }}|true</option>
                            {% else %}
                                <option value="{{ oe.opcion }}" selected>{{ oe.opcion }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div id="containerButton" class="form-group">
                        {% if hidden_tipo_enunciado %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"> {% if hidden_tipo_enunciado == 0 or hidden_tipo_enunciado == 1 %}Agregar Opción{% endif %}{% if hidden_tipo_enunciado == 2 or hidden_tipo_enunciado == 3 %}Agregar Imagen{% endif %} </span>
                                </div>
                                {% if hidden_tipo_enunciado == 0 or hidden_tipo_enunciado == 1 %}
                                    <input id="desc" type="text" class="form-control" aria-label="Opcion" aria-describedby="basic-addon1"/>
                                {% endif %}
                                {% if hidden_tipo_enunciado == 2 or hidden_tipo_enunciado == 3 %}
                                    <input title="Imagen para la opción" id="fileImg" style="cursor:pointer;" type="file" accept="image/*" class="form-control pb-5 pt-3" aria-label="Opcion" aria-describedby="basic-addon1">
                                {% endif %}
                                <div class="input-group-append">
                                    {% if hidden_tipo_enunciado == 0 %}
                                        <button onclick="agregar_opcion_ru()" title="Agregar" class="btn btn-outline-info" type="button" id="add">
                                    {% endif %}
                                    {% if hidden_tipo_enunciado == 1 %}
                                        <button onclick="agregar_opcion_rm()" title="Agregar" class="btn btn-outline-info" type="button" id="add">
                                    {% endif %}
                                    {% if hidden_tipo_enunciado == 2 %}
                                        <button onclick="agregar_opcion_img_ru()" title="Agregar" class="btn btn-outline-info" type="button" id="add">
                                    {% endif %}
                                    {% if hidden_tipo_enunciado == 3 %}
                                        <button onclick="agregar_opcion_img_rm()" title="Agregar" class="btn btn-outline-info" type="button" id="add">
                                    {% endif %}
                                            <i class="fas fa-folder-plus"></i>
                                        </button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button id="guardar" type="button" class="btn btn-success btn-md px-5">Guardar Enunciado</button>
                        {% if not agregar_enunciado %}
                            <a href="/evaluacion/registros/enunciado/{{ enunciado_evaluacion.submodulo.id }}/" class="btn btn-danger btn-md px-5">Cancelar</a>
                        {% else %}
                            <a href="/evaluacion/listar/submodulo/{{ submodulo.modulo.id }}/" class="btn btn-danger btn-md px-5">Cancelar</a>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div id="containerEnunciados" class="form-group col-xl-6">
                <input type="hidden" id="tipo_enunciado" value="{{ hidden_tipo_enunciado }}" />
                {% for oe in opciones_enunciado %}
                    {% if hidden_tipo_enunciado == 0 %}
                        <div style="cursor: pointer;" id="fr{{ oe.fr }}" class="custom-control custom-radio my-1 mr-sm-2">
                            {% if oe.respuesta %}
                                <input name="lista_enunciado" value="{{ oe.opcion }}" style="cursor: pointer;" type="radio" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" checked />
                            {% else %}
                                <input name="lista_enunciado" value="{{ oe.opcion }}" style="cursor: pointer;" type="radio" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" />
                            {% endif %}
                            <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ oe.fr }}">{{ oe.opcion }}</label>
                        </div>
                    {% endif %}
                    {% if hidden_tipo_enunciado == 1 %}
                        <div style="cursor: pointer;" id="fc{{ oe.fr }}" class="custom-control custom-checkbox my-1">
                            {% if oe.respuesta %}
                                <input name="lista_enunciado[{{ oe.fr }}]" value="{{ oe.opcion }}" style="cursor: pointer;" type="checkbox" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" checked />
                            {% else %}
                                <input name="lista_enunciado[{{ oe.fr }}]" value="{{ oe.opcion }}" style="cursor: pointer;" type="checkbox" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" />
                            {% endif %}
                            <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ oe.fr }}">{{ oe.opcion }}</label>
                        </div>
                    {% endif %}
                    {% if hidden_tipo_enunciado == 2 %}
                        <div style="cursor: pointer;" id="fr{{ oe.fr }}" class="custom-control custom-radio my-1 mr-sm-2">
                            {% if oe.respuesta %}
                                <input name="lista_enunciado" value="{{ oe.opcion }}" style="cursor: pointer;" type="radio" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" checked />
                            {% else %}
                                <input name="lista_enunciado" value="{{ oe.opcion }}" style="cursor: pointer;" type="radio" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" />
                            {% endif %}
                            <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ oe.fr }}">
                                <img id="imgfc{{ oe.fr }}" class="img-fluid" src="{{ oe.opcion }}" width="200px">
                            </label>
                        </div>
                    {% endif %}
                    {% if hidden_tipo_enunciado == 3 %}
                        <div style="cursor: pointer;" id="fc{{ oe.fr }}" class="custom-control custom-checkbox my-1">
                            {% if oe.respuesta %}
                                <input name="lista_enunciado[{{ oe.fr }}]" value="{{ oe.opcion }}" style="cursor: pointer;" type="checkbox" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" checked />
                            {% else %}
                                <input name="lista_enunciado[{{ oe.fr }}]" value="{{ oe.opcion }}" style="cursor: pointer;" type="checkbox" class="custom-control-input" id="lista_enunciado{{ oe.fr }}" />
                            {% endif %}
                            <label style="cursor: pointer;" class="custom-control-label" for="lista_enunciado{{ oe.fr }}">
                                <img id="imgfc{{ oe.fr }}" class="img-fluid" src="{{ oe.opcion }}" width="200px">
                            </label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<!-- Initialize Swiper -->
  <script src="/static/js/form_enunciado.js"></script>
{% endblock %}