{% extends 'base-public.html' %}
{% block head %}

{% endblock %}
{% block title %}
    {% if eval %}
        Evaluaciones
    {% else %}
        Listado de cursos
    {% endif %}
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">
                {% if eval %}
                    Evaluaciones
                {% else %}
                    Listado de cursos
                {% endif %}
            </h1>
        </div>
    </nav>
    <div class="container mt-3 mb-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Cursos Registrados</li>
          </ol>
        </nav>
        <div class="row">
            {% for curso in cursos %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div style="font-style: none;" class="card curso-card mt-3 mb-3 ">
                        <div class="card-header curso-card-header text-white">
                            Curso de {{ curso.nombre }}
                        </div>
                        <div class="card-body text-center">
                            <figure>
                                <img src = '/media/{{ curso.icono }}' width="150px"/>
                            </figure>
                            <br>
                            {% if eval %}
                                <a href="/evaluacion/modulos/{{ curso.id }}" class="btn btn-link"><i class="fas fa-tasks justify-end"></i> Evaluación del curso de {{ curso.nombre }}</a>
                            {% else %}
                                <a href="/curso/modulo/nuevo/{{ curso.id }}" class="card-link">Añadir Módulo</a>
                                <a href="/curso/modulo/registros/{{ curso.id }}/" class="card-link">Módulos Registrados</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}