{% extends 'base-public.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block title %}
    Enunciados de la evaluación
{% endblock %}
{% block style %}

{% endblock %}

{% block container %}
    <nav id="nav-foto" class="navbar undercontainer">
        <div class="container">
            <h1 class="h1 text-white">
                Enunciados de la evaluación
            </h1>
        </div>
    </nav>
    {% if not eval %}
        <!-- Modal -->
        <div class="modal fade" id="alertaEliminar" tabindex="-1" role="dialog" aria-labelledby="alertaEliminarCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h5 class="modal-title" id="alertaTitulo">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-justify text-break">
                  ¿Está seguro de eliminar el Enunciado <strong><span id="tituloEnunciado"></span></strong>?
                  <br>
                  ¿Continuar?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
                <button id="aceptarEliminar" type="button" class="btn btn-success">
                    Aceptar
                    <input type="hidden" id="idEnunciado" value=""/>
                </button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
    <div class="container mt-3 mb-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/evaluacion/listar/submodulo/{{ submodulo.modulo.id }}/">Submódulos Registrados</a></li>
              <li class="breadcrumb-item active" aria-current="page">Enunciados Registrados</li>
          </ol>
        </nav>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-bordered table-hover display" id="tb_submodulos">
                    <thead>
                        <th>
                            Enunciado
                        </th>
                        <th>
                            Tipo de respuesta
                        </th>
                        <th class="text-center">
                            Opciones
                        </th>
                    </thead>
                    <tbody>
                        {% for enunciado in enunciados %}
                            <tr>
                                <td>
                                    {{ enunciado.enunciado }}
                                </td>
                                <td>
                                    {{ enunciado.ret_tipo_respuesta }}
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="btn_opcion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i> Opción
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btn_opcion">
                                            <a href="/evaluacion/editar/enunciado/{{ enunciado.id }}/" class="dropdown-item"><i class="fas fa-edit"></i> Editar</a>
                                            <button type="button" onclick="eliminar_enunciado('{{ enunciado.id }}', '{{ enunciado.enunciado }}')" class="dropdown-item"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/js/listar_enunciado.js"></script>
{% endblock %}